In [1]:
import pandas as pd

In [4]:
pd.read_json("./CSVs/iris.json") ## it can get from url also

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 1.7 MB/s eta 0:00:07
     -- ------------------------------------ 0.8/11.9 MB 985.5 kB/s eta 0:00:12
     -- ------------------------------------ 0.8/11.9 MB 985.5 kB/s eta 0:00:12
     --- ----------------------------------- 1.0/11.9 MB 838.4 kB/s eta 0:00:13
     ---- ---------------------------------- 1.3/11.9 MB 932.1 kB/s eta 0:00:12
     ----- ---------------------------------- 1.6/11.9 MB 1.0 MB/s eta 0:00:11
     ------ --------------------------------- 1.8/11.9 MB 1.1 MB/s eta 0:00:10
     ------- -------------------------------- 2.1/11.9 MB 1.1 MB/s eta 0:00:10
     -------- ------------------------------- 2.6/11.9 MB 1.2 MB/s eta 0:00:08
     --------- ------------------------------ 2.9/11.9 MB 1.2 MB/s eta 0:00:08
     ---------- ----------------------------- 3.1/11.9 MB 1.2 MB/s eta 0:00:08
     ----------- ---------------------------- 3.4/11.9 MB 1.2 MB/s eta 0:00:07
     ------------ --------------------------- 3.7/11.9 MB 1.2 MB/s eta 0:00:07
     ------------- -------------------------- 3.9/11.9 MB 1.2 MB/s eta 0:00:07
     -------------- ------------------------- 4.2/11.9 MB 1.3 MB/s eta 0:00:07
     --------------- ------------------------ 4.5/11.9 MB 1.3 MB/s eta 0:00:06
     --------------- ------------------------ 4.7/11.9 MB 1.2 MB/s eta 0:00:06
     ---------------- ----------------------- 5.0/11.9 MB 1.2 MB/s eta 0:00:06
     ----------------- ---------------------- 5.2/11.9 MB 1.2 MB/s eta 0:00:06
     ------------------ --------------------- 5.5/11.9 MB 1.3 MB/s eta 0:00:06
     ------------------- -------------------- 5.8/11.9 MB 1.2 MB/s eta 0:00:05
     -------------------- ------------------- 6.0/11.9 MB 1.2 MB/s eta 0:00:05
     --------------------- ------------------ 6.3/11.9 MB 1.2 MB/s eta 0:00:05
     ---------------------- ----------------- 6.6/11.9 MB 1.2 MB/s eta 0:00:05
     ----------------------- ---------------- 6.8/11.9 MB 1.2 MB/s eta 0:00:05
     ----------------------- ---------------- 7.1/11.9 MB 1.2 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.2 MB/s eta 0:00:04
     ------------------------- -------------- 7.6/11.9 MB 1.2 MB/s eta 0:00:04
     ------------------------- -------------- 7.6/11.9 MB 1.2 MB/s eta 0:00:04
     -------------------------- ------------- 7.9/11.9 MB 1.2 MB/s eta 0:00:04
     --------------------------- ------------ 8.1/11.9 MB 1.2 MB/s eta 0:00:04
     ---------------------------- ----------- 8.4/11.9 MB 1.2 MB/s eta 0:00:03
     ------------------------------ --------- 8.9/11.9 MB 1.2 MB/s eta 0:00:03
     ------------------------------ --------- 9.2/11.9 MB 1.2 MB/s eta 0:00:03
     ------------------------------- -------- 9.4/11.9 MB 1.2 MB/s eta 0:00:02
     -------------------------------- ------- 9.7/11.9 MB 1.2 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.2 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.2 MB/s eta 0:00:02
     ---------------------------------- ----- 10.2/11.9 MB 1.2 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.2 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.2 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.2 MB/s eta 0:00:02
     ------------------------------------ --- 10.7/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.1 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.0 MB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 926.1 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 854.4 kB/s eta 0:00:01
     -------------------------------------- 11.9/11.9 MB 842.9 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=b11ce155f6ffb3bf4b2454457370b5932eedc8d2a2a5e6e6acc3341ff9441f77
  Stored in directory: c:\users\admi\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [6]:
import mysql.connector

In [8]:
conn=mysql.connector.connect(host="localhost",user="root",password="",database="world")

In [9]:
pd.read_sql_query("SELECT * FROM CITY",conn)

C:\Users\Admi\AppData\Local\Temp\ipykernel_4520\1505015275.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM CITY",conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]