# web Scraping on IMBD data

In [21]:
import numpy as np 
import pandas as pd
from bs4 import BeautifulSoup
import http

In [22]:
import requests

In [87]:
head={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
# webpage=requests.get("https://www.linkedin.com/jobs/collections/recommended/?currentJobId=4273385069&discover=recommended&discoveryOrigin=JOBS_HOME_JYMBII",headers=head).text


webpage=requests.get("https://www.imdb.com/chart/top/?ref_=hm_nv_menu",headers=head).text

In [88]:
# webpage

In [89]:
soup=BeautifulSoup(webpage,"lxml")

In [91]:
# soup

In [92]:
len(soup)

2

In [97]:
li=soup.find_all("div",class_="sc-ec40e84d-1")

In [100]:
li[24].text

'25. The Green Mile19993h 9mUA8.6\xa0(1.5M)RateMark as watched'

In [124]:
duera=list()
name=list()
ratring=list()
year=list()


for i in li:
    name.append(i.find('h3',class_="ipc-title__text").text.strip())
    year.append(i.find('span',class_="sc-15ac7568-7").text.strip())
    duera.append(i.find_all('span',class_="sc-15ac7568-7")[1].text.strip())
    # class="ipc-rating-star--rating"
    ratring.append(i.find('span',class_="ipc-rating-star--rating").text.strip())

In [127]:
metadata={"name":name,"rating":ratring,"year":year,"Dueration":duera}

df=pd.DataFrame(metadata)

In [128]:
df.head()

                          name rating  year Dueration
0  1. The Shawshank Redemption    9.3  1994    2h 22m
1             2. The Godfather    9.2  1972    2h 55m
2           3. The Dark Knight    9.1  2008    2h 32m
3    4. The Godfather: Part II    9.0  1974    3h 22m
4              5. 12 Angry Men    9.0  1957    1h 36m